h1 {

color: black;
text-shadow: 2px 2px 5px black;
text-align: center;
}

h1, h2, h5 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

h2 {

    text-shadow: 2px 2px 10px green;
    text-align: center;

}

.transparent {

  opacity: 0.1;

}

hr {
  border: 1px solid black;
  margin: 20px 0;
  text-shadow: 5px ;
}

h3 {

   -webkit-text-stroke: 0.1px blue;

}

* {

text-align: center;

}